# Node dependencies
node_modules/
.env

# Solidity/Foundry/Hardhat
backend/cache/
backend/out/
backend/broadcast/
backend/.evm/
*.json
!package.json
!package-lock.json

# Frontend build files
frontend/my-app/dist/
frontend/my-app/build/

# OS files
.DS_Store
Thumbs.db